<!doctype html>
<html lang="en">

<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="lib/underscore.js"></script>
  <script src="lib/angular.js"></script>
  <script src="MenuRecommend.module.js"></script>
  <style>
    .message { font-size: 1.3em; font-weight: bold; }
    </style>
</head>

<body ng-app="MenuRecommend">
  <div class="container" ng-controller = 'ControllerController'>
    <h1>Lunch Checker </h1>

    <div class="form-group">
      <input type="text" class="form-control" ng-model='order' placeholder='Please enter your order,separated by comma'>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click='Recommend(order)'>Check If Too Much</button>
    </div>
    <div class="form-group message">
      <img ng-src="image/{{state}}.png"/>
      <span>{{message}}</span>
    </div>
  </div>

</body>

</html>